body {
  text-align: center;
  background: linear-gradient(to bottom right, #187498, #EB5353, #F9D923); /* Gradient with multiple colors */
  /* Other styles */
}


#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.simon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;

}

.row .btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}