nav ul {
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  
}

nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  margin-right: 20px;
  color: black
}
h2 {
  font-family: 'Butterfly Kids', cursive;
  font-size: 7rem;
  text-align: center;
  font-weight: bolder;
}

.r1 {
  color: #EB5353;
}
.r2 {
  color: #F9D923;
}
.r3 {
  color: #36AE7C;
}
.r4 {
  color: #187498;
}
.r5 {
  color: #FF4B91;
}

.drum-kit {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-basis: 0 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.drum {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: start;
  font-family: 'Butterfly Kids', cursive;
  font-weight: bolder;
  color: #187498;
}

.a {
  border:#187498 solid 7px;
  background-image: url(./assets/img/drumKit-images/crash.png);

}
.s {
  border: #EB5353 solid 7px;
  background-image: url(./assets/img/drumKit-images/kick.png);
}
.d {
  border: #36AE7C solid 7px;
  background-image: url(./assets/img/drumKit-images/snare.png);

}
.f {
  border: #F9D923 solid 7px;
  background-image: url(./assets/img/drumKit-images/tom1.png);
}
.g {
  border: #FF4B91 solid 7px;
  background-image: url(./assets/img/drumKit-images/tom2.png);
}
.h {
  border: #F9D923 solid 7px;
  background-image: url(./assets/img/drumKit-images/tom3.png);
}
.j {
  border: #187498 solid 7px;
  background-image: url(./assets/img/drumKit-images/tom4.png);
}

body {
  text-align: center;
  background: linear-gradient(to bottom right, #187498, #EB5353, #F9D923); /* Gradient with multiple colors */
  /* Other styles */
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.simon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;

}

.row .btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}